In [31]:
#| default_exp main
import sys,os
from pathlib import Path
# Insert in Path Project Directory
sys.path.insert(0, str(Path().cwd().parent))
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Principal
> Este mÃ³dulo concentra funÃ§Ãµes auxiliares especÃ­ficas que filtram os dados do banco com campos e formataÃ§Ã£o de interesse para aplicaÃ§Ãµes especÃ­ficas como o [appAnalise](https://github.com/EricMagalhaesDelgado/appAnalise) por exemplo.

In [32]:
#| export
import json
from datetime import datetime
from pathlib import Path
from typing import Union

import pandas as pd
import pyodbc
from dotenv import find_dotenv, load_dotenv
from fastcore.test import *
from pymongo import MongoClient
from rich import print

from extracao.format import _filter_matlab, _format_matlab, merge_on_frequency
from extracao.reading import read_aero, read_base

load_dotenv(find_dotenv(), override=True)

True

In [41]:
#| export
def get_db(
    path: Union[str, Path],  # Pasta onde salvar os arquivos",
    connSQL: pyodbc.Connection = None,  # Objeto de conexÃ£o do banco SQL Server
    clientMongoDB: MongoClient = None,  # Objeto de conexÃ£o do banco MongoDB
) -> pd.DataFrame:  # Retorna o DataFrame com as bases da Anatel e da AeronÃ¡utica
    """LÃª e opcionalmente atualiza as bases da Anatel, mescla as bases da AeronÃ¡utica, salva e retorna o arquivo
    A atualizaÃ§Ã£o junto Ã s bases de dados da Anatel Ã© efetuada caso ambos objetos de banco `connSQL` e `clientMongoDB` forem vÃ¡lidos`
    """
    dest = Path(path)
    dest.mkdir(parents=True, exist_ok=True)
    print(":scroll:[green]Lendo as bases de dados da Anatel...")
    df = read_base(path, connSQL, clientMongoDB)
    df = _filter_matlab(df)
    mod_times = {"ANATEL": datetime.now().strftime("%d/%m/%Y %H:%M:%S")}
    print(":airplane:[blue]Requisitando os dados da AeronÃ¡utica.")
    update = all([connSQL, clientMongoDB])
    try:
        aero = read_aero(path, update=update)
    except Exception:
        aero = read_aero(path)
    mod_times["AERONAUTICA"] = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
    print(":spoon:[yellow]Mesclando os dados da AeronÃ¡utica.")
    df = _format_matlab(merge_on_frequency(df, aero))
    print(":card_file_box:[green]Salvando os arquivos...")
    df.to_parquet(f"{dest}/AnatelDB.parquet.gzip", compression="gzip", index=False)
    versiondb = json.loads((dest / "VersionFile.json").read_text())
    mod_times["ReleaseDate"] = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
    versiondb["anateldb"].update(mod_times)
    json.dump(versiondb, (dest / "VersionFile.json").open("w"))
    print("Sucesso :zap:")
    return df

In [34]:
#|eval: false
import os
import warnings
from extracao.updates import connect_db
import numpy as np
from geopy.distance import geodesic

In [35]:
#|eval: false
warnings.filterwarnings("ignore")

In [36]:
#|eval: false
folder = Path.cwd().parent / 'dados'

In [7]:
#|eval: false
# conn = connect_db()
# uri = os.environ['MONGO_URI']
# mongo_client = MongoClient(uri)

In [42]:
#|eval: false
# os.chdir(f"{Path.cwd().parent}/extracao/aero")
df = get_db(folder)
# df = get_db(folder) #, conn, mongo_client)
# df = pd.read_parquet(folder / 'AnatelDB.parquet.gzip')

ðŸ“œLendo as bases de dados da Anatel...

âœˆRequisitando os dados da AeronÃ¡utica.

ðŸ¥„Mesclando os dados da AeronÃ¡utica.

ðŸ—ƒSalvando os arquivos...

Sucesso âš¡

In [46]:
df[df.Description.str.contains('50412989719')]

,Id,Frequency,Latitude,Longitude,Description,Service,Station,Class,BW
533304,#533305,689.0,-18.8529,-41.947102,"[MOS] TV-C2, A, Fundacao Dom Jose Heleno (5041...",247,-1,NI,5700.0

In [48]:
df[df.Description.str.contains('50414510100')]

,Id,Frequency,Latitude,Longitude,Description,Service,Station,Class,BW
525819,#525820,587.0,-18.8529,-41.947102,"[MOS] TV-C2, A, Fundacao Radio Tv Educativa Ri...",247,-1,NI,5700.0

In [39]:
mos = _filter_matlab(mos)

In [40]:
mos[mos.Description.str.contains('50412989719')]

,Frequency,Latitude,Longitude,Description,Service,Station,Class,BW
587973,689.0,-18.852900000000000,-41.947100000000000,"[MOS] TV-C2, A, Fundacao Dom Jose Heleno (5041...",247,<NA>,<NA>,5700.0

In [30]:
mos.loc[588008]

Frequency                    689.0
Latitude       -18.852900000000000
Longitude      -41.947100000000000
Description                   <NA>
Service                        247
Station                       <NA>
Class                         <NA>
BW                          5700.0
Name: 588008, dtype: string

In [ ]:
#|eval: false
from pandas_profiling import ProfileReport
df['Frequency'] = df['Frequency'].astype('category')
profile = ProfileReport(df, config_file= folder.parent / 'nbs/report_config.yaml')
profile.to_notebook_iframe()